.portada{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 40vh;
}
  .titulo {
   color: #ff7f00;
   font-size: 70px;
   height: 20vh;
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
  }
  .logo{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
  }

.subtitulo {
  color: #3443fc;
  font-size: 50px;
  margin: left 20px;
  padding: 0px 0px 0px 100px;
  height: 25vh;
  flex-wrap: nowrap;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
  
.carousel-inner {
  align-items: center;
  display: flex;
  margin-left: 80px;
  height: 640px; 
  width: 480px;
 }
 
  

.epigrafe{
  display: flex; 
  color: #3443fc;
  font-size: 20px;
  margin-left: 20px;
  height: 150px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.datos{
  color: #eb7575;
  font-size: 30px;
  margin: left 50px;
  padding: 0px 0px 0px 100px;
  height: 10vh;
  flex-wrap: wrap;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  background: rgb(255,128,61);
  background: linear-gradient(0deg, rgba(255,128,61,0.32816876750700286) 26%, rgba(252,237,52,1) 92%); }

.card {
  width: 900px;
  height: 300px; 
}

.videoytxt {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 120vh;
  margin: 10px;
  
}
.presentacion {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 110vh;
  margin: 10px;
    
}
  .texto {
   color: #ff803d;
   display: flex;
   font-size: 20px;
   height: 380px;
   width: 370px; 
   font-weight: bold;
   padding: -10px 20px 12px 0px;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   align-content: center;
  }

.footer {
  background-color: #ff7f00;
  padding: 30px;
  margin: 10px;
  height: 10vh;
  display: flex;
  flex direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center; 
  align-content: center;
}
.RS{  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: large;
  text-decoration: none;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.vinculos {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  height: 80vh;
  color: #ff5457;
  font-size: 20px;
  margin-left: 40px;
}
  .EMP{
    color: black;
   display: grid;
   font-size: large;
   text-decoration: none;
  }
  .tabla{
    color: black;
   display: grid;
   font-size: large;
   text-decoration: none;
  }

.contacto {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
  border: 1px solid black;
  height: 80vh;
  margin-left: 30px;
}

header {
  grid-area: header; }

/*media queries*/
@media screen and (min-width: 768px) {
  .border {
    border: 4px solid black;
    background-color: #dbf3db; }
  .tabla {
    grid-template-columns: repeat(4, 1fr); }
  .video1 {
    grid-template-columns: repeat(4, 1fr); }
  .titulo {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center; }
  .subtitulo {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center; }
  .logo {
    grid-template-columns: repeat(2, 1fr); }
  .tabla {
    transform: translate(10px, -190px); } }


@media screen and (max-width: 320px) {

  .footer {
   grid-template-columns: repeat(2, 1fr); }
  
 .portada{
   display: flex; 
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   height: 50vh;
    }
    .logo{
     display: flex;
     grid-template-columns: repeat(2, 1fr);
      }
   .titulo {
    grid-template-columns: repeat(2, 1fr);
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  .subtitulo {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
     }
  }
  .contacto{
    grid-template-columns: repeat(2, 1fr)
   }
  .epigrafe{
    grid-template-columns: repeat(1, 1fr)
   }
  .carousel-inner{
    grid-template-columns: repeat(2, 1fr)
   }
  .videoytxt{
    grid-template-columns: repeat(2, 1fr)
   }
  .vinculos{
    grid-template-columns: repeat(2, 1fr)
   }
  body{
    grid-template-rows: repeat(2, 1fr);
  }

  