.portada{
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50vh;
}
  .titulo {
   color: orangered;
   font-size: 70px;
   padding: 0px 0px 0px 50px;
   height: 25vh;
   display: flex; 
  }
  .logo{
    display: flex;
  }

.subtitulo {
  color: #eb7575;
  font-size: 50px;
  margin: left 70px;
  padding: 0px 0px 0px 130px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  
.myCarousel {
  align-items: center;
  padding: 30px;
  margin-left: 320px;
 }
  

.epigrafe{
  color: black;
  font-size: 20px;
  margin: left 50px;
  padding: 0px 0px 0px 100px;
  height: 10vh;
}


.navbar navbar-inverse{
  background-color: #5cdfb4;
}

body {
  background: #db3434;
  background: linear-gradient(0deg, rgba(219, 52, 52, 0.328169) 26%, rgba(76, 255, 255, 0.485032) 66%); }

.card {
  width: 900px;
  height: 300px; 
}

.videoyedades {
  display: flex; 
  flex-direction: row;
  justify-content:  space-around;
  align-items: center;
  height: 100vh;
  
}
  #grilla {
    grid-area: auto;
    display: grid;
    grid-template-areas: "nav Nombres"
   "nav Edad";
    grid-template-rows: 400px 6fr 6fr 20px;
    grid-template-columns: 20% auto 15%;
    justify-content: space-between;
    border: 4px solid black;
    font-size: x-large;
   }

.grupo {
  color: #eb7575;
  font-size: 40px;
  margin: left 70px;
  padding: 10px 10px 12px 90px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(10px, -110px); }


.presentacion {
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 110vh;
    
}
  .texto {
   color: coral;
   display: grid;
   font-size: large;
  }

.footer {
  background-color: #eb7575;
  height: 6vh;
  display: flex;
  flex direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center; 
  align-content: center;
}
.RS{  
  color: coral;
  display: grid;
  font-size: large;
  text-decoration: none;
}
.vinculos {
  display: flex; 
  flex-direction: row;
  justify-content:  space-around;
  align-items: center;
  height: 100vh;
}
  .EMP{
    color: black;
   display: grid;
   font-size: large;
   text-decoration: none;
  }
  .tabla{
    color: black;
   display: grid;
   font-size: large;
   text-decoration: none;
  }
header {
  grid-area: header; }


section#Nombres {
  grid-area: Nombres; }

section#Habilidades {
  grid-area: Habilidades; }

/*media queries*/
@media screen and (min-width: 768px) {
  #grilla {
    grid-template-columns: repeat(4, 1fr); }
  .border {
    border: 4px solid black;
    background-color: #dbf3db; }
  .tabla {
    grid-template-columns: repeat(4, 1fr); }
  .video1 {
    grid-template-columns: repeat(4, 1fr); }
  .titulo {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center; }
  .subtitulo {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center; }
  .logo {
    grid-template-columns: repeat(2, 1fr); }
  .tabla {
    transform: translate(10px, -190px); } }

@media screen and (min-width: 320px) {
  #grilla {
    grid-template-columns: repeat(2, 1fr); }
  .border {
    border: 4px solid black;
    background-color: #dbf3db; }
  .tabla {
    grid-template-columns: repeat(2, 1fr); }
  .video1 {
    grid-template-columns: repeat(2, 1fr); }
  .titulo {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center; }
  .subtitulo {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center; }
  .logo {
    grid-template-columns: repeat(2, 1fr); } }

.grilla
div:nth-child(1) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 1; }

.grilla
div:nth-child(2) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 2; }

.grilla
div:nth-child(3) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 3; }

.grilla
div:nth-child(4) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 4; }

.grilla
div:nth-child(5) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 5; }

.grilla
div:nth-child(6) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 6; }

.grilla
div:nth-child(7) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 7; }

.grilla
div:nth-child(8) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 8; }

.grilla
div:nth-child(9) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 9; }

.grilla
div:nth-child(10) {
  color: nth purple blue aqua green lime yellow orange tomato red pink, 10; }
