@import "./_color";

#grilla{
    grid-area: auto;
    display: grid;
    grid-template-areas: 
    "nav Nombres"
    "nav Edad";
    grid-template-rows: 150px 2fr 2fr 90px;
    grid-template-columns: 20% auto 15%;
    justify-content: center;
    border: 4px solid black;
    transform: translate(10px, -150px);
}

   
