 
.grilla {
    $rainbow: purple blue aqua green lime yellow orange tomato red pink;
        
    @for $i from 1 through 10 {
            div:nth-child(#{$i})
             {
                color: nth ($rainbow, $i);
            }
        }
        
    }
   
